<div ng-controller="registerController as rC">
    <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
             <h2 class="header teal-text text-lighten-1">Register</h2>
        </div>
    </div>
    <form method="post" action="/users/register">
        <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <div class="input-field">
                    <input id="name" type="text" class="validate"  name="name"
                {{#if prevEntries}}
                           value="{{prevEntries.name}}"
                {{/if}}
                    >
                    <label for="name" >Name</label>
                    {{#if errors.name.bool}}
                        <span class="red-text text-accent-3">{{errors.name.msg}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <div class="input-field">
                    <input id="username" type="text" class="validate"  name="username"
                    {{#if prevEntries}}
                       value="{{prevEntries.username}}"
                    {{/if}}
                    >
                    <label for="username">Username</label>
                    {{#if errors.username.bool}}
                        <span class="red-text text-accent-3">{{errors.username.msg}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <div class="input-field">
                    <input id="email" type="email" class="validate"  name="email"
                    {{#if prevEntries}}
                       value="{{prevEntries.email}}"
                    {{/if}}
                    >
                    <label for="email" >Email</label>
                    {{#if errors.email.bool}}
                        <span class="red-text text-accent-3">{{errors.email.msg}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                 <div class="input-field">
                    <input id="password"  type="password" class="validate" name="password"
                    {{#if prevEntries}}
                           value="{{prevEntries.password}}"
                    {{/if}}
                    >
                    <label for="password">Password</label>
                    {{#if errors.password.bool}}
                        <span class="red-text text-accent-3">{{errors.password.msg}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <div class="input-field">
                    <input id="confirm-password" type="password" class="validate" name="password2"
                        {{#if prevEntries}}
                           value="{{prevEntries.password2}}"
                        {{/if}}
                    >
                    <label for="confirm-password">Confirm Password</label>
                    {{#if errors.password2.bool}}
                        <span class="red-text text-accent-3">{{errors.password2.msg}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="s12">
                <button type="submit" class="waves-effect waves-light btn col s12 m10 offset-m1 l8 offset-l2">Submit</button>
            </div>
        </div>
    </form>
</div>




<div ng-click="lC.getTodos()">
    <!--ng cloack that shit below anddd add the listItem id upon ajax success of creation of list item-->
    <ul class="collection">
        <a id="link" class="collection-item avatar" ng-href="/todo-items/\{{item._id}}/\{{item.listTitle}}"ng-repeat="item in lC.list" ng-click="lC.getTodos()">
            <img src="" alt="" class="circle">
                        <span class="title">
                            <!--<i class="fa fa-list-ul" aria-hidden="true"></i>-->
                            \{{item.listTitle}}
                        </span>

            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </a>
    </ul>
</div>