<div ng-controller="todoController as tC">
    <h3>{{listTitle}} Todo's</h3>  <!--should end up saying "List Todos"-->
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
               <input type="text" class="form-control" name="" ng-model="tC.todoItem.title">
               <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="tC.createTodo('{{listId}}')">Create</button>
               </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-repeat="item in tC.todos" ng-cloak>
            <div class="well">
                <div class="text">   <!--ng cloack that shit below anddd add the listItem id upon ajax success of creation of list item-->
                    <div class="row list-row">
                        <a href="/todo-overview/\{{item._id}}">
                            <div class="col-xs-10 list-div">
                                <p>
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>\{{item.title}}
                                </p>
                            </div>
                        </a>
                        <div class="col-xs-2" id="controls">
                            <!--might have to use location service to change route-->
                            <a href="/updateList/\{{item._id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <i class="fa fa-trash-o" aria-hidden="true" ng-click="lC.deleteList(item._id, $index)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>