<div ng-controller="todoController as tC">
    <div class="row" id="todo-header-row">
        <div class="col s12 m10 offset-m1 l8 offset-l2" ng-cloak>
             <h3 class="header teal-text text-lighten-1">{{listTitle}} List</h3>  <!--should end up saying "List Todos"-->
        </div>
    </div>
    <div class="row" id="back-row">
        <div class="col s12 m10 offset-m1 l8 offset-l2" ng-cloak>
            <a href="/"><i class="material-icons">navigate_before</i><span id="back-link">Back</span></a>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m10 offset-m1 l8 offset-l2">
            <input id="enter-todo" type="text" class="validate" name="" ng-model="tC.todoItem.title">
            <label for="enter-todo">Enter New Todo Item</label>
            <button class="btn waves-effect waves-light col s12" type="button" ng-click="tC.createTodo('{{listId}}')">Create</button>
        </div>
    </div>
    <div class="row">

        <div class="col s12 m10 offset-m1 l8 offset-l2" ng-cloak>
            <ul class="collection">
                <div class="todo-item" style="position:relative;" ng-repeat="item in tC.todos">
                    <a  class="collection-item avatar" href="/updateTodo/\{{item._id}}">
                        <i class="material-icons circle">view_list</i>
                        <span class="">
                            <h5>
                                \{{item.title}}
                            </h5>
                        </span>
                    </a>
                    <a href="/updateTodo/\{{item._id}}" class="list-update"><i class="material-icons">edit</i></a>
                    <i ng-click="tC.deleteTodo(item._id, $index)"  class="material-icons list-delete">delete</i>
                </div>
            </ul>

        </div>
    </div>
</div>